:root {
    --color-orange: rgb(235, 131, 28);
    --color-gray: #dddddd;
    --font: 'Share Tech Mono', monospace;
}

* {
    font-family: var(--font);
}

h4::selection, p::selection {
    color: white;
    background: var(--color-orange);
}

body {
    display: flex;
}

header {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.home {
    margin-left: 20px;
}

.home a {
    display: inline-block;
    position: absolute;
    color: var(--color-orange);
    /* font-family: cursive; */
    font-size: 35px;
    text-decoration: none;
    top: 2px;
}

.home:before {
    font-family: FontAwesome;
    content: "\f6be";
    font-size: 35px;
    color: var(--color-orange);
    padding-right: 20px;
    cursor: pointer;
}

.search {
  position: relative;
  height: 30px;
  width: 480px;
  margin-top: 15px;
}

.search input {
    width: 420px;
    height: 30px;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
}

.search input:focus {
    outline: var(--color-orange);
    border-color: var(--color-orange);  
}

.search .search-button {
    position: absolute; 
    top: 0px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: none;
    background: var(--color-gray);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search .search-button:after {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 16px;
    color: #000000;
}

.search .search-button:hover {
    background-color:  #c5c5c5;
}

.search .micro {
    position: absolute; 
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    border: none;
    background: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.fa-microphone {
    font-size: 25px;
    color: #bbbbbb;
}

.fa-microphone:hover {
    color: #3d3d3d;
}

.profile-container {
    margin-right: 20px;
    display: flex;
    
    justify-content: row;
}


.notifications {
    margin-right: 15px;
    font-size: 25px;
    background-color: white;
    border: none;
    color:#bbbbbb;
    cursor: pointer;
}

.notifications:hover {
    color: #3d3d3d;
}

.profile-avatar {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
}

.profile-avatar:after {
    position: relative;
    left: 13px;
    top: 7px;
    content: "\f1b0";
    font-family: FontAwesome;
    font-size: 15px;
    color: #000000;
}

.profile-avatar:hover + .dropdown-menu-container {
    display: block;
}
.dropdown-menu-container:hover {
    display: block;
}

.dropdown-menu-container {
    display: none;
    background-color: white;
    height: 90px;
    width: 150px;
    position: absolute;
    top: 50px;
    right: 20px;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
}


.dropdown-menu__item {
    font-family: FontAwesome;
    font-size: 20px;
    cursor: pointer;
}

.dropdown-menu__item:hover {
    background-color: #c5c5c5;
}

.profile:before {
    margin-left: 10px;
    margin-right: 10px;
    content: "\f1b0";
    color: #000000;
}

.settings:before {
    margin-left: 10px;
    margin-right: 10px;
    content: "\f013";
    color: #000000;
}

.logout {
    border-top: 1px solid var(--color-gray);
    color: red;
}

.logout:before {
    margin-left: 10px;
    margin-right: 10px;
    content: "\f2f5";
    color: red;
}

main {
    margin-top: 62px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.side-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streamers-container {
    font-size: 17px;
    font-weight: bold;
    max-height: 70vh;
    width: 270px;
    background-color: #e6e6e6;
    cursor: pointer;
    overflow-y: auto;
}

.streamer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.streamer-block:hover {
    background-color: #c5c5c5;
}

.streamer-info {
    display: flex;
    justify-content: row;
    align-items: center;
    margin-left: 20px;
}
.streamer-info p {
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 20px;
}

.streamer-info p:hover {
    color: rgb(59, 59, 212);
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.viewers {
    margin-right: 20px;
    font-size: 20px;
}

.online:before {
    content: "\f111";
    font-family: FontAwesome;
    color: red;
    background-color: red;
    font-size: 8px;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
    right: 5px;
}

.info-container {
    height: 100%;
    width: 270px;
    margin-top: 3px;
    background-color: #e6e6e6;
}

.info {
    margin: 20px;
    height: 150px;
    width: 220px;
    background-color: #c5c5c5;
    border-radius: 5px;
}

.info p {
    position: relative;
    top: 20px;
    font-size: 20px;
    text-align: center;
}

.links {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.fa-telegram, .fa-instagram, .fa-facebook {
    cursor: pointer;
    font-size: 25px;
}

.fa-telegram:hover, .fa-instagram:hover, .fa-facebook:hover {
    color:rgb(59, 59, 212);
}

.category-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    height: 60px;
    max-width: max-content;
    overflow: auto;
    white-space: nowrap;
}

.category {
    margin: 20px 10px 20px;
    width: max-content;
    font-size: 15px;
    background-color: #ececec;
    border: 1px solid #cfcfcf;
    border-radius: 25px;
    cursor: pointer;
}

.category:first-child {
    margin-left: 20px;
    color:rgb(255, 255, 255);
    background-color: var(--color-orange);
}

.category p {
    margin: 3px 15px 5px;
}

.category-container::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.category-container:hover::-webkit-scrollbar {
    height: 0px;
    width: 200px;
}


.main-page {
    position: relative;
    right: auto;
    left: auto;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: 300px;
    width: 400px;
}

.image_container a { 
    display: block; 
    position: relative; 
}

a { 
    display: block; 
    position: relative; 
}

a:after { 
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0,0,0,.5); 
    opacity: 0; 
    cursor: pointer;
}

a:hover:after { 
    opacity: 1; 
}

.live {
    position: absolute;
    bottom: 270px;
    margin-left: 10px;
    height: 20px;
    width: 40px;
    color: white;
    background-color: red;
    z-index: 5;
}

.video-viewers {
    position: absolute;
    bottom: 20px;
    margin-left: 280px;
    height: 20px;
    width: max-content;
    color: white;
    background-color: #7e7e7e;
    z-index: 5;
}

.video-info-main {
    background-color: #e7e7e7;
    height: 300px;
    width: 200px;
}

.video-info-main img {
    position: relative;
    top: 20px;
    left: 10px;
}

.video-info-main .video-name {
    position: relative;
    left: 50px;
    bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* fix overflow */
    width: 150px;
}

.video-info-main .streamername {
    font-size: 12px;
    color: #3d3d3d;
    position: relative;
    left: 50px;
    bottom: 10px;
}

.description {
    color: #3d3d3d;
    margin-left: 10px;
}

.videos-list {
    margin-top: 100px;
    max-width: 120vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.video-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.video-container .image-container img {
    height: 200px;
    width: 300px;
}

.video-container .image-container {
    width: 300px;
    height: 200px;
}


.video-info {
    height: 60px;
    width: 300px;
}

.video-info .avatar {
    position: relative;
    top: 20px;
    left: 5px;
}

.video-info .video-name {
    font-size: 20px;
    position: relative;
    left: 40px;
    bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-info .streamername {
    position: relative;
    left: 40px;
    bottom: 10px;
    font-size: 12px;
    color: #3d3d3d;
}

.options {
    position: relative;
    left: 290px;
    bottom: 55px;
    cursor: pointer;
}

.videos-list .live {
    position: relative;
    bottom: 180px;
    left: 5px;
}

.videos-list .video-viewers {
    position: relative;
    bottom: 50px;
    right: 100px;
}

.footer-text-container {
    margin-top: 20px;
    padding-right: 20px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    text-align: center;
}

@media all and (max-width: 1000px) {
    .home a {
        display: none;
    }
}

@media all and (max-width: 480px) {
    .search input {
        width: calc(100% - 60px);
    }

    .home a {
        display: none;
    }
}

@media (max-width: 1200px) {
    .side-block {
        align-items:flex-start;
    }
    .streamers-container, .info-container {
        width: 80px;
    }
    .streamer-block p {
        display: none;
    }
    .label {
        display: none;
    }
    .info {
        margin: 0;
        width: 80px;
    }
    .links {
        top: 10px;
        flex-direction: column;
    }

    .main-page {
        display: none;
    }    
    .videos-list {
        margin-top: 0px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-text-container {
        justify-content: flex-start;
        align-items: flex-start;
    }


}


